@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
/* line 3, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/main.scss */
.presentation .step {
  width: 100vw;
  height: 100vh;
}
/* line 19, ../sass/main.scss */
.presentation .step.past .step-wrapper, .presentation .step.future .step-wrapper {
  color: #e9e9e9;
}
/* line 27, ../sass/main.scss */
.presentation .step .step-wrapper {
  font-family: 'Playfair Display', serif;
  float: none;
  height: 100%;
  margin: 0 auto;
  transition: all 250ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 41, ../sass/main.scss */
.presentation .step .step-wrapper article {
  float: none;
}

/* line 53, ../sass/main.scss */
.modal {
  z-index: 1;
}

/* line 59, ../sass/main.scss */
.option {
  position: absolute;
  z-index: 1;
  right: 50px;
  bottom: 50px;
}

/* line 70, ../sass/main.scss */
.scroll {
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
/* line 83, ../sass/main.scss */
.scroll .fa {
  font-size: 15pt;
}
